<h1>Charge API</h1>

<p>
  The Charge Service will be used by Lender/Conveyancers and Conveyancers to create Charges
  to be applied to the Land Register. There are two services that will be
  provided to Lender/Conveyancers and Conveyancers through which they can submit Charges.
</p>
<label>These are:</label>
<ul>
  <li>
    <a href="http://charges-prototype-ci.herokuapp.com">An online transaction</a>
  </li>
  <li>
    <a href="http://charges-api-prototype-ci.herokuapp.com">This API</a>
  </li>
</ul>

<hr/>

<h2>Expected process flow</h2>
<h3>
  1. Lender/Conveyancer creates a Charge
  <small><a href="/explorer/charge/post">POST /charge</a></small>
</h3>
<p>
  The lender uses the Charge API to create a Charge. They provide information
  on the mortgage product to use, the borrowers to list on the Charge, and the
  property to apply the Charge against.
</p>
<h3>
  2. Borrowers digitally sign the Charge
  <small><a href="http://charges-prototype-ci.herokuapp.com/v1-1/step2/step-1-citizen-signs-deed">
    Sign your mortgage deed service
  </a></small>
</h3>
<p>
  The Borrowers each use the new
  <a href="http://charges-prototype-ci.herokuapp.com/v1-1/step2/step-1-citizen-signs-deed">
    Sign your mortgage deed service
  </a>
  to digitally sign the Charge. This digital signature will be attached to the
  charge and held securely on the Land Register once the Charge has been
  completed.
</p>
<h3>
  3. Lender/Conveyancer checks that all borrowers have signed
  <small><a href="/explorer/charge/:id/get">GET /charge/:id</a></small>
</h3>
<p>
  Lender/Conveyancers can use the /charge/:id endpoint to check the current status of a
  Charge. Once all borrowers listed have digitally signed the Charge then the
  Lender/Conveyancer can date the charge and submit it to the Land Registry for recording on
  the Land Register.
</p>
<h3>
  4. Lender/Conveyancer dates the charge
  <small><a href="/explorer/charge/:id/:date/post">POST /charge/:id/:date</a></small>
</h3>
<p>
  Once all Borrowers have signed the Lender/Conveyancers can use the /charge/:id/:date
  endpoint to date a Charge. The Charge would then be submitted to the Land
  Registry for adding to the Land Register.
</p>

<hr/>
